#main {
    /* border: 1px solid red; */
    width: 100%;
    background-color: #eeeeee;
}

#parent {
    /* border: 1px solid blue; */
    width: 85%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#parent p {
    font-size: 12px;
    line-height: 25px;
}

#parent > div:nth-child(3) {
    margin-top: 20px;
    width: 20%;
    line-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding: 10px;
}

#parent > div:nth-child(3) button {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 70px;
    background-color: black;
    color: white;
    font-weight: bold;
}

#social_media {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;
}

#social_media > div {
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: 2px solid  blue; */
    font-size: 15px;
}

#social_media > div > img {
    width: 6%;
    height: 25px;
}

#powered_by {
    background-color: #333;
    color: white;
    padding: 30px;
}

#powered_by > p {
    font-size: 12px;
}

#powered_by > p:nth-child(2) {
    color: #999;
}